.auth-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26rem;
  background-color: var(--accent-color);
  margin: 4rem;
}

.auth-login-btn {
  margin: 2rem;
}

.ml-l {
  margin: 4px;
}

.test-btn,
.auth-login-btn {
  border-radius: 5px;
  background-color: whitesmoke;
  border: 1px solid var(--accent-color);
  padding: 4px;
  margin: 5px;
  min-width: 30vh;
}

.color-white {
  color: white;
}

.gap-text-s {
  gap: 5px;
}

.text-gap-m {
  gap: 5px;
}

.auth-form {
  display: grid;
  grid-template-rows: auto auto;
}

.form-label {
  text-align: center;
}
.input-form {
  min-width: 35vh;
}

.auth-background {
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  min-height: 15vh;
  min-width: 32vh;
  padding: 5px;
}
.signup-container {
  padding: 10px;
}
