.single-hotel-details-container{
    display: flex;
    flex-direction: column;
}

.whats-for{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: initial;
}

.underline{
    border-bottom: 2px solid var(--shadow);
}

.white-color{
    color:white;
}

.smile-rebook, .house-emoji{
    height: 10px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    padding: 12px;
    background-color: var(--accent-color);
    color: goldenrod;
}