@import url("./PriceRange/PriceRange.css");
@import url("./FreeCancel/FreeCancel.css");
@import url("./hotelType//hotelType.css");
@import url('./hotelType//hotelType.css');
@import url('./hotelRating/hotelRating.css');
@import url('./hotelRooms/hotelRooms.css');

.filter-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  color: white;
  background: red;
  border: 2px solid var(--shadow);
  border-top:none;
  border-right: none;
  

}

.filter-container {
  width: 60%;
  height: 70%;
  overflow-y: auto;
  display: flex;
  border: 2px solid var(--shadow);
  z-index: 2;
  position: fixed;
  left: 21rem;
  top: 5rem;
  background-color: var(--primary-color);
  flex-direction: column;
  padding-top: 25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2rem;
  
}
