.head{
    font-style: none;
    text-decoration-color: none;
    list-style: none;
}

.border{
    border: 2px solid var(--accent-color);
}
.payment-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    margin: 5rem;
}
.final-details-container{
    min-width: 70vh;
}