.nav-logo {
  height: 60px;
  width: 132px;
  padding: 5px;
  margin-left: 1rem;
  border-radius: 5px;
}

.form-container {
  border: 1px solid white;
  padding: 10px;
  box-shadow: 1px 1px 3px 3px var(--shadow);
}

.form-icons {
  border-right: 2px solid var(--shadow);

  padding-right: 7px;
}

.navbar-items {
  padding: 8px;
  text-decoration: none;
  list-style: none;
}
.navbar-items:visited {
  color: var(--accent-color);
}

.searcher {
  background-color: var(--accent-color);
  padding: 5px;
  color: white;
  border-radius: 50px;
}

.nav-icon-heart{
color:red;

}

.logout-fav-container{
 display: flex;
 flex-direction: row;
 align-content: center;
 justify-content: center;

 
}

.icons{
  scale: 1.2;
}