.hotelImage-container {
  display: flex;
  justify-content: center;
}

.hotel-image-primary {
  padding: 0.5rem;
}
.grid-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem;
  gap: 6px;
}
.primary-image {
  height: 100%;
  max-width: 50vh;
}
.secondary-image {
  max-height: 30vh;
  object-fit: cover;
  width: 55vh;
}
